<h1>投稿詳細</h1>
<p><%= @record.content %></p>
<% unless @record.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除',favorite_path(id: @favorite.id),method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入り',favorites_path(record_id: @record.id),method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<p><%= link_to '投稿一覧に戻る',records_path %></p>
